// import global variables
@import '../../../App.sass'

// Classes
.title
	width: 25vw
	font-family: $fontStack
	font-weight: 500
	font-size: 50px
	margin-top: 20px
	margin-bottom: 30px
	text-transform: capitalize

.titleSeparator
	width: 80px
	height: 10px
	background-color: black
	border: none
	margin: 0px
	
.pictureAuthor
	@extend %backgroundImage
	width: 100px
	height: 100px
	border-radius: 0% 100% 100% 100%
