// import global variables
@import '../../../App.sass'

// Classes
.title
	width: 33vh
	font-family: $fontStack
	font-weight: 500
	font-size: 50px

.titleSeparator
	width: 80px
	height: 10px
	background-color: black
	border: none
	margin: 0px
