// Variables
$fontStack: 'Quicksand', 'Roboto', sans-serif
$semiBold: 500

body
	font-family: 'Quicksand'

// Extend
%pageContent-Contents
	margin-top: 30px
	margin-left: 28px
	width: 66vw
	overflow: auto
	padding-bottom: 10px
	
%backgroundImage
	background-size: cover
	background-position: center

// Global classes
body
	overflow: hidden
	margin: 0
	padding: 0

.App
	height: 100vh
	width: 100vw
