@import '../../../App.sass'

%fonts
	font-family: $fontStack		

.label
	@extend %fonts
	font-size: 16px
	margin-bottom: 0px

.pictureDetailsValue
	@extend %fonts
	font-size: 20px
	font-weight: $semiBold
	margin-top: 0px
